@use '@styles/mixin.module' as mix;
@use '@styles/variable.module' as var;

.btn {
    @include mix.btn(176px, 42px, 3px, var.$primary_color);
    font-size: 14px;
    font-weight: 300;
    cursor: pointer;
    &:hover {
        transition: background-color 300ms;
    }
}

.primaryBtn {
    background-color: var.$primary_color;
    color: var.$white_color;
    &:hover {
        background-color: transparent;
        color: var.$primary_color;
        border: 1px solid var.$primary_color;
    }
}

.secondaryBtn {
    background-color: var.$white_color;
    color: var.$primary_color;
    border: 1px solid var.$primary_color;
    &:hover {
        background-color: var.$primary_color;
        color: var.$white_color;
    }
}
