@use '@styles/mixin.module' as mix;
@use '@styles/variable.module' as var;

.container {
    @include mix.flex_box_custom(center, center, 0px);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

.containerHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 83px;
    width: 1250px;
    // background-color: bisque
}

.containerBoxIcon {
    @include mix.flex_box_custom(center, center, 10px);
}

.containerBox {
    @include mix.flex_box_custom(center, center, 20px);
}

.containerMenu {
    @include mix.flex_box_custom(center, center, 40px);
}

.boxIcon {
    width: 26px;
    height: 26px;
    @include mix.radius_common(50%);
    @include mix.flex_box_custom(center, center, 0px);
    background-color: var.$primary_color;
}

.menu {
    cursor: pointer;
    padding-top: 9px;
    font-size: 15px;
    color: var.$primary_color;
}

.menu::after {
    content: '';
    display: block;
    height: 3px;
    background-color: var.$primary_color;
    margin-top: 6px;
    transform-origin: right;
    transform: scale(0);
    opacity: 0;
    transition: transform 500ms, opacity 500ms;
}

.menu:hover::after {
    opacity: 1;
    transform: scale(1);
}
